* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 960px;
    min-width: 300px;
    margin: 0 auto;
    padding: 1rem 1rem;
}

.flex {
    display: flex;
}

header {
    min-height: 50px;
    background-color: #ADD8E6;
}

.yellow {
    background-color: #DAA520;
}

.blue {
    background-color: #00008B;
}

.grey {
    background-color: #D3D3D3;
}

.h-col {
    border: 2px dashed black;
    width: 20%;
    padding: 10px 10px;
}

.nav {
    min-height: 40px;
}

.h-col:nth-of-type(2) {
    flex-grow: 1;
    text-align: center;
}

.h-col:last-of-type {
    text-align: right;
}
/* qui inizia il main */
.section {
    padding: 2rem 0rem;
}

.box {
    background-color: #EE82EE;
    max-width: 80%;
    min-height: 300px;
    border: 2px dashed black;
    margin: 0 auto;
}

.first {
    max-width: 100%;
    min-height: 300px;
}

.slide {
    border: 2px dashed black;
}

.slide:first-of-type {
    flex-grow: 1;
    background-color: #1E90FF;
}

.slide:last-of-type {
    min-width: 40%;
    background-color: #FFC0CB;
}

.reverse {
    flex-direction: row-reverse;
}